body{
    color: white;
    background: black;
    font-family: "Lora", serif;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 110, 255);
}
section{
   background: rgb(10 7 50); 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chanada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }